<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension point="org.eclipse.ui.views">
		<category
			id="com.epod.adt.mcp"
			name="ABAP MCP Server"/>
		<view
			id="com.epod.adt.mcp.ui.McpServerView"
			name="ABAP MCP Server"
			class="com.epod.adt.mcp.ui.McpServerView"
			category="com.epod.adt.mcp"
			/>
	</extension>

	<extension point="org.eclipse.ui.perspectiveExtensions">
		<perspectiveExtension targetID="com.sap.adt.ui.AbapPerspective">
			<view
				id="com.epod.adt.mcp.ui.McpServerView"
				relative="org.eclipse.ui.views.ContentOutline"
				relationship="stack"/>
		</perspectiveExtension>
	</extension>

	<extension point="org.eclipse.core.runtime.preferences">
		<initializer class="com.epod.adt.mcp.preferences.PreferenceInitializer"/>
	</extension>

	<extension point="org.eclipse.ui.preferencePages">
		<page
			id="com.epod.adt.mcp.preferences.McpPreferencePage"
			name="ABAP MCP Server"
			class="com.epod.adt.mcp.preferences.McpPreferencePage"/>
	</extension>
</plugin>
